/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* body */

body {
    width: 512px;
}

main {
    padding: 0px 40px;
}


/* header */

header {
    padding: 10px 15px;
    border-width: 3px;
    border-bottom-style: solid;
}


/* article */

.article {
    min-height: 160px;
    padding: 20px 20px 20px;
    border-width: 3px;
    border-style: solid;
    margin-top: 15px;
}